# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build
.turbo

# Coverage
coverage

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Prisma
prisma/migrations

# Storybook
storybook-static

# Others
package-lock.json
yarn.lock
pnpm-lock.yaml
